.utageTabs
  :global(.n-tabs-nav)
    display: none

.doublePlayerChartPanel
  position: absolute

  @media (min-width: 1440px) and (max-width: 1510px)
    position: relative

  @media (max-width: 870px)
    position: relative
